*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Merriweather", sans-serif;
}

.wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    /*padding: 0 8px;*/ 
    background-color: #121212;
}

.admin-wrapper{
    height: 100vh;
}

p{
    padding: 0 !important;
    margin: 0 !important;
}

body{
    overflow-y: auto;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #1f1f1f;
    border-radius: 999px;
}

body::-webkit-scrollbar-thumb {
    background: #5a4fd649;
    border-radius: 999px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #7d6cff9e;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 15px;
    padding: 16px 20px;
    background-color: #121212;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #70707048;
    /*background-color: red;*/
}

header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header ul li{
    display: inline-block;
    margin-left: 16px;
    font-size: 0.8em;
    
}

header a{
    text-decoration: none;
    color: #949494;
}

header a:hover{
    color: #988dff;
    cursor: pointer;
}

.active-hyperlink{
    color: #695ae9
}

.brend{
    font-weight: bold;
    color: #695ae9;
}


.header-right{
    display: flex;
    gap: 10px;
}

.button{
    height: 28px;
    font-size: 0.7em;
    padding: 6px 16px;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    background-color: #121212;
    color: #AFA9EC;
    border-color: rgba(214, 214, 214, 0.222);
    border-style:solid;
}

.register{
    background-color: #6153dd;
    color: white;
    border-style: none;
}

.main-index{
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    
}

.main-pojedinacna{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 5px 0;
    margin-bottom: 8px;
}

.main-pojedinacna-content{
    height: 100%;
    padding: 0 16px;
    display: flex;
    gap: 16px;

}

.main-pojedinacna-header{
    display: flex;
    padding: 3px 16px;
}

.pojedinacna-hiperlink{
    font-size: 0.75em;
    text-decoration: none;
    color: #695ae9;
}

.main-pojedinacna-left{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    
}

.knjiga-prikaz{
    background-color: #1F1F1F;  
    flex: 0.65;
    padding: 16px 16px;
    color: white;
    border-radius: 8px;
    display: flex;
    gap: 12px;
}

.knjiga-slika{
    width: 100px;
    height: 100%;
    border-radius: 10px;
}

.knjiga-slika img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.knjiga-info{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.knjiga-info-top{
    flex: 1;
    padding: 0px 8px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
    border-bottom: 1px solid #70707048;
}

.knjiga-info-top p{
    margin: 0;
    padding: 0;
    font-size: 1em;
}


.knjiga-info-bottom{
    flex: 1;
    padding: 0 8px;
    display: flex;
    flex-direction: column;
}

.knjiga-atributi{
    height: 30px;
    display: flex;
    flex-direction: row;
    gap: 14px;
}

.atribut-card{
    display: flex;
    flex-direction: column;
    max-width: 250px;
    height: 30px;
}

.atribut-ime{
    font-size: 0.52em;
    margin: 0;
    color: #4f4e4e;

}

.atribut-vrednost{
    font-size: 0.62em;
    margin: 0;
    color: #ABABAB;
}

.knjiga-rejting{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.stars{
    color: #f5b301;
    font-size: 0.85em;
    text-align: center;
}

.score{
    font-size: 0.85em;
}

.broj-recenzija{
    font-size: 0.75em;
    color: #4f4e4e;
}

.knjiga-opis{
    background-color: #1F1F1F;
    height: auto;
    padding: 12px 16px;
    color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;

}

.section-header{
    font-size: 0.75em;
    height: 20px;
    border-bottom: 1px solid #70707048;
    padding-bottom: 25px;
}

.section-header p{
    margin: 0;
    font-weight: 700;
}

.knjiga-opis-content{
    font-size:0.7em;
    flex: 1;
    padding-top: 10px;
}

.knjiga-opis-content p{
    margin: 0;
    font-size: 0.85em;
    color: #ABABAB; 
}

.recenzija{
    background-color: #1F1F1F;
    flex: 0.85;
    padding: 8px 16px;
    color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    
}

.recenzija-forma{
    flex: 1;
    padding: 8px 0;
    display: flex;
    flex-direction: column;
}

.recenzija-forma label{
    font-size: 0.7em;
}

.recenzija-forma input, textarea{
    width: 100%;
    border-radius: 5px;
    height: 35px;
    background-color: #30302E;
    border-style: none;
    padding: 6px 8px;
    font-size: 0.75em;
    color: #dededc;
    border: 1px solid #70707048;
}

.recenzija-forma textarea{
    min-height: 75px;
    resize: none;
}

.recenzija-forma input::placeholder, .recenzija-forma textarea::placeholder{
    color: hsl(60, 1%, 53%);
}

#submit-dugme{
    
    padding: 0;
    height: 30px;
    background-color: #1A1A1A;
    font-size: 0.7em;
    border-color: hsl(0, 0%, 44%);
}

form{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.ostavi-rejting{
    display: flex;
    justify-content: center;
    direction: rtl;
}

.for-rating:before{
    content: "\2606";
    font-size: 20px;
}

.for-rating:hover::before,
.for-rating:hover ~ .for-rating:before{
    content: "\2605";
    color: #f5b301;
}

.lista-recenzija{
    background-color: #1F1F1F;
    flex: 1;
    height: 225px;
    padding: 8px 16px;
    color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex: 0 0 auto;
}

.main-pojedinacna-right{
    flex: 1;
    height: 500px;
    padding: 0 16px;
    color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.main-pojedinacna-right p{
    margin: 0;
    padding: 0;
}

.knjiga-info-dodatak{
    border-radius: 8px;
    background-color: #1F1F1F;
    padding: 8px 8px;
}

.knjiga-info-dodatak-card{
    display: flex;
    justify-content: space-between;
    padding: 4px 4px;
}


.slicne-knjige{
    flex: 1;
    border-radius: 8px;
    background-color: #1F1F1F;
    padding: 8px 8px;
    display: flex;
    flex-direction: column;
    
    
}

.slicne-knjige-card{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 6px 0;
    border-bottom: 1px solid #70707048;

}

.slicne-knjige-slika{
    width: 50%;
}

.slicne-knjige-slika img{
    width: 100px;
    
    border-radius: 8px;
}

.slicne-knjige-tekst{
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
    align-items: center;
}


.recenzija-card{
    display: flex;
    flex-direction: row;
    gap: 2px;
    padding: 6px 0;
    border-bottom: 1px solid #70707048;
}

.recenzija-podaci{
    width: 80%;
}

.recenzija-datum{
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.recenzija-datum-tekst{
    font-size: 12px;
}

.recenzija-card p{
    padding: 0;
    margin: 0;
    font-size: 9px;
}

.recenzija-score{
    color: #f5b301;
}

.recenzija-sadrzaj{
    color: #ABABAB;
}

.lista-recenzija::-webkit-scrollbar {
    width: 10px;
}

.lista-recenzija::-webkit-scrollbar-track {
    background: #1f1f1f;
    border-radius: 999px;
}

.lista-recenzija::-webkit-scrollbar-thumb {
    background: #5a4fd649;
    border-radius: 999px;
}

.lista-recenzija::-webkit-scrollbar-thumb:hover {
    background: #7d6cff9e;
}

.hero-section{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    
}

.landing{
    width: 100%;
    background-color:#EEEDFE;
    background-color: rgb(247, 247, 233);
    display: flex;
    flex-direction:row;
}

.landing-text{
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 5px;   
    padding: 25px 20px;

}

.landing-text h2{
    font-size: 1.5em;
    max-width: 300px;
    font-weight: bold;
    color: #26215C;
}

.landing-text p{
    font-size: 0.8em;
    max-width: 350px;
}

.landing-buttons{
    display: flex;
    gap: 8px;
}

.katalog{
    width: 125px;
    background-color: #6153dd;
    color: white;
    border-style: none;
    font-weight: bold;
}

.autori{
    width: 125px;
    background-color: transparent;
    color: #5f53e2;
    border-color: #AFA9EC;
    border-style: solid;
}

.landing-image{
    flex: 1;
    width: 60%;
    background-image: url(images/knjige-horizontalno.png);
    background-repeat: no-repeat;
    background-position: -50px -25px;
    background-size: cover;
    background-size: 115% 130%;

}


    
.search-filters{
    width: 100%;
    min-height: 65px;
    background-color: #161616;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    border-bottom: 1px solid #70707048;
}

.search-bar{
    width: 70%;
    border-radius: 5px;
    height: 35px;
    background-color: #2f2e2e;
    border-style: none;
    padding: 12px 16px;
    font-size: 0.75em;
    border-radius: 10px;
    color: white;
    border: 1px solid #70707048;
}

.filter-card{
   
    height: 30px;
    padding: 0 16px;
    border-radius: 999px;   
    font-size: 12px;
    border: 1px solid rgba(255,255,255,0.1);
    background: transparent;
    color: #ccc;
    cursor: pointer;

}

.books{
    width: 100%;
    min-height: 400px;
    background-color: #121212;
    display: flex;
    flex-direction:column;
    padding: 12px 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    position: relative;

}

.books::-webkit-scrollbar {
    height: 8px;
}

.books::-webkit-scrollbar-track {
    background: #1f1f1f;
    border-radius: 999px;
}

.books::-webkit-scrollbar-thumb {
    background: #5a4fd649;
    border-radius: 999px;
}

.books::-webkit-scrollbar-thumb:hover {
    background: #7d6cff9e;
}

.books-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
    height: 40px;
    color: white;
}

.books-header h6{
    margin: 0;
}

.books-content a{
    text-decoration: none;
    color: #6153dd;
    position: absolute;
    top: 25px;
    left: 100%;
    font-size: 0.85em;
    width: 100px;
    
}

.books-content{
    flex: 1;
    display: flex;
    padding: 12px 0px;
    gap: 16px;
}

.book-card{
    display: flex;
    flex-direction: column;
    width: 150px;
    font-size: 12px;
    flex: 0 0 auto;
}

.book-cover{
    width: 150px;
    height: 225px;
    position: relative;
}

.book-cover img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 20px;
    z-index: 10; 
}

.book-cover a{
    position: relative;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;

}
.book-cover p{
    margin: 0;
    z-index: 100;
    color: white;
    position: absolute;
    top: 90%;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.729);
    border-radius: 6px;
    padding: 0px 2px;
    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;    
}


.book-desc{
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    text-align: center;
    
}

.book-desc p{
    margin: 0;
}

.book-author{
    color: white;
}

.book-recom{
    color: #6153DD;
}

.book-genre{
    height: 30px;
    padding: 0 16px;
    border-radius: 999px;   
    font-size: 12px;
    border: 1px solid rgba(40, 223, 46, 0.1);
    cursor: default !important;
}

.button-pojedinacna-info{
    height: 35px;
}

.roman{
    background: #3b1f2b;
    color: #f472b6;
}

.klasik{
    background: #1b3a3a;
    color: #2dd4bf;
}

.distopija{
    background: #1e293b;
    color: #60a5fa;
}

.fantazija{
    background: #3b1f1f;
    color: #f87171;
}

.sci-fi{
    background: #3a321a;
    color: #facc15;
}

.triler{
    background: #2a1a2f;
    color: #c084fc;
}

.novela{
    color: #C89B6D;
    background-color: #2F241A;
}

.bajka{
    color: #ff01ff;
    background-color: #3A1F2F;
}

.main-knjige-admin{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-bottom: 8px;
    padding-top: 0;
    gap: 4px;

}

.main-knjige-admin-top{
    color: white;
  
    display: flex;
    flex-direction: column;
}

.admin-panel{
    display: flex;
    justify-content: space-between;
    background-color: #211C3F;
    font-size: 0.8em;
    font-weight: 700;
    padding: 8px 16px;
    border-bottom: 0.5px solid rgba(137, 43, 226, 0.559);
}

.role{
    height: 20px;
    padding: 0 16px;
    border-radius: 999px;   
    font-size: 12px;
    border: 1px solid rgba(40, 223, 46, 0.1);
    cursor: default !important;
    background-color: #2A2350;
    color: #A78BFA;
}

.pretraga-knjiga{
    padding: 12px 12px;
    /* background-color: red; */
    display: flex;
    gap: 8px;
    border-bottom: 1px solid #70707048;


}

.pretraga-knjiga button{
    height: 35px;
    width: 70px;
    padding: 2px 4px;
    font-size: 0.65em;
    border-radius: 5px;
    border: 1px solid hsla(0, 0%, 76%, 0.858);
}

.pretraga-knjiga input{
    flex: 1;
}

.main-knjige-admin-bottom{
    color: white;
    flex: 1;
    display: flex;
    gap: 8px;
}

.tabela-knjiga{
    width: 75%;
    height: 585px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0px 16px;
    overflow-y: auto;
    flex: 0 0 auto;
    
}

.tabela-knjiga::-webkit-scrollbar {
    width: 10px;
}

.tabela-knjiga::-webkit-scrollbar-track {
    background: #1f1f1f;
    border-radius: 999px;
}

.tabela-knjiga::-webkit-scrollbar-thumb {
    background: #5a4fd649;
    border-radius: 999px;
}

.tabela-knjiga::-webkit-scrollbar-thumb:hover {
    background: #7d6cff9e;
}

.tabela-header{
    padding: 6px 6px;
    font-size: 0.8em;
    display: flex;
    gap: 8px;
    border-bottom: 1px solid #70707048;
    background-color: #1A1A1A;
}

.tabela-row div, .tabela-header div{
    display: flex;
    align-items: center;
    font-size: 0.85em;
    gap: 6px;

}

.tabela-row{
    padding: 6px 6px;
    font-size: 0.8em;
    display: flex;
    gap: 8px;
    border-bottom: 1px solid #70707048;

}

.tabela-knjiga-slika{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.tr-1 p{
    font-size: 10px;  
}

.tr-1{
    width: 14%;
    max-width: 150px;
    
}

.tr-8{
    display: flex;
    justify-content: space-around;
}

.tr-2, .tr-3, .tr-4, .tr-5, .tr-6, .tr-7, .tr-8{
    width: 11%;
    
}

.button-tabela{
    height: 25px;
}

.stars-tabela{
    font-size: 15px;
}

.tabela-rejting{
    font-size: 15px;
}

.action-buttons{
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
    color: white;
    display: flex;
    align-items: center;
}

.knjige-admin-forma{
    padding: 6px 0;     
}

footer{
    width: 100%;
    min-height: 60px;
    background-color: #161616;
    display: flex;
    justify-content: space-between;
    
}

.footer-card{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: solid 1px #6153dd5d;
    gap: 3px;
}

.footer-card p{
    margin: 0;
}

.footer-stat{
    color: #6153dd;
    font-size: 1em;
    font-weight: 700;
}

.footer-value{
    color: white;
    font-size: 0.75em;
}