/*DJOLE*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Merriweather", sans-serif;
}

.wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 100vh; */
    min-height: 100vh;
    /*padding: 0 8px;*/ 
    background-color: #121212;
}


.admin-wrapper{
    height: 100vh;
    min-height: 0;
}

p{
    padding: 0 !important;
    margin: 0 !important;
}



body{
    /* overflow: hidden; */
    overflow-y: auto;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #1f1f1f;
    border-radius: 999px;
}

body::-webkit-scrollbar-thumb {
    background: #5a4fd649;
    border-radius: 999px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #7d6cff9e;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
        /* height: auto; */
    min-height: 60px;
    padding: 16px 20px;
    background-color: #121212;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #70707048;
    /*background-color: red;*/
}

header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header ul li{
    display: inline-block;
    margin-left: 16px;
    font-size: 0.8em;
    
}

header a{
    text-decoration: none;
    color: #949494;
}

header a:hover{
    color: #988dff;
    cursor: pointer;
}

.active-hyperlink{
    color: #695ae9 !important;
}

.brend{
    font-weight: bold;
    color: #695ae9;
}


.header-right{
    display: flex;
    gap: 10px;
}

.button{
    height: 28px;
    font-size: 0.7em;
    padding: 6px 16px;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login, .sign-up-reset{
    background-color: #121212;
    color: #AFA9EC;
    border-color: rgba(214, 214, 214, 0.222);
    border-style:solid;
}

.login:hover, #submit-dugme:hover, .pretraga-knjiga button:hover{
    background-color: rgb(40, 40, 40);
}

.register{
    background-color: #6153dd;
    color: white;
    border-style: none;
}

.odjava{
    color: #cc4444;
    background-color: transparent;
    border: 1px solid #cc444463; 
}

.odjava:hover{
    color: red !important;
}

.main-index{
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;

    flex-direction: column;
    /* background-color: orange; */
    flex: 1;
}

.main-profil-top{
    /* background-color: red; */
    height: 105px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 20px;
    justify-content: space-between;
    gap: 10px;
    border-bottom: 1px solid #70707048;
    flex: 1;
    /* background-color: red; */
    overflow: hidden;
    

    
}

.profil-info{
    /* background-color: orange; */
    width: 30%;
    display: flex;
    gap: 12px;
    align-items: center;
    color: white;
    
}

.profil-statistika{
    /* background-color: green; */
    flex: 1;
    display: flex;
    justify-content: flex-end;
    color: white;
    gap: 40px; 
    align-items: center;

}

.profil-ime-email{
    display: flex;
    flex-direction: column;
    gap: 1px;
   
}

.profil-ime{
    font-size: 1.3em;
}

.profil-email{
    font-size: 0.75em;
    color: rgb(174, 174, 174);
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.statistika-card{
    display: flex;
    flex-direction: column;
    gap: 1px;
    align-items: center;
}

.statistika-vrednost{
    color: white;
    font-size: 1em;
    font-weight: 700;
}

.statistika-ime{
    font-size: 0.75em;
    color: rgb(174, 174, 174);

}

.main-profil-top img{
    width: 80px;
    height: 80px;
    border: 2px solid blueviolet;
    border-radius: 50%;
}

.main-profil-bottom{
    /* background-color: orange; */
    flex: 1;
    padding-left: 20px;
    display: flex;
    border-bottom: 1px solid #70707048;
}

.main-profil-left{
    flex:1;
    /* background-color: greenyellow; */
    display: flex;
    flex-direction: column;
    padding: 0 8px;
    gap: 12px;
    padding-top: 12px;
    
    
    
}

.info-ime{
    color: rgb(174, 174, 174);
    font-size: 0.7em;

}

.info-vrednost{
    font-size: 0.75em;
    color: white;
}

.profil-header{
    font-size: 0.75em;
    color: rgb(174, 174, 174);
    border-bottom: 1px solid #70707048;
    padding-bottom: 4px !important;
    font-weight: 700;
}

.detaljne-info-row{
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
    padding-right: 4px;
    border-bottom: 1px solid #70707048;

}

.omiljeni-zanrovi-buttons{
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
    padding: 6px 0;
}

.procitane-knjige{
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    padding-bottom: 0;
}

.godisnji-cilj-citanja-placeholder{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.godisnji-cilj-citanja-placeholder progress{
    width: 100%;
    height: 6px;
}

#progress-bar{
    border-radius: 8px;
    overflow: hidden;
}

#progress-bar::-webkit-progress-bar{
    background-color: rgb(174, 174, 174);

}

#progress-bar::-webkit-progress-value{
    background-color: #1e00ff9e;
    /* border-radius: 8px; */
}

.progress-feedback{
    color: rgb(122, 122, 122);
    font-size: 0.6em;
}

.nedavna-aktivnost-card{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #70707048;
    padding: 8px 0;

}

.aktivnost{
    display: flex;
    gap: 5px;
    align-items: center;
}

#aktivnost-card-poslednja{
    border-bottom: none;
}

.aktivnost-p{
    font-size: 0.75em;
    color: rgb(193, 193, 193);
    padding-top: 5px !important;
    
}

.ellipse-icon{
    vertical-align: middle;
    font-size: 0.7em;
    
}

.prva{
    color: #6153DD;
}

.druga{
    color: #2ECC71;
}

.treca{
    color: #F39C12;
}

.cetvrta{
    color: #E74C3C;
}

.datum{
    font-size: 0.7em;
    color: rgb(174, 174, 174);
    display: flex;
    align-items: center;
}

.main-profil-right{
    flex: 3;
    background-color: #1A1A2E;
    padding: 16px 35px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.main-profil-right-header{
    /* background-color: orange; */
    display: flex;
    border-bottom: 1px solid #70707048;
    padding-top: 4px;
    color: #7B7B7E;

    font-size: 0.75em;

}

#moje-recenzije-div p, #moje-ocene-div p{
    cursor: pointer
}

#moje-recenzije-div{
    width: 50%;
    display: flex;
    justify-content:center;
    border-bottom: 1px solid #695ae9;
}

#moje-ocene-div{
    width: 50%;
    display: flex;
    justify-content:center;
}

.main-profil-right-content1{
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-height: 550px;
    overflow: auto;
}

.main-profil-right-content1::-webkit-scrollbar {
    width: 10px;
}

.main-profil-right-content1::-webkit-scrollbar-track {
    background: #1f1f1f;
    border-radius: 999px;
}

.main-profil-right-content1::-webkit-scrollbar-thumb {
    background: #5a4fd649;
    border-radius: 999px;
}

.main-profil-right-content1::-webkit-scrollbar-thumb:hover {
    background: #7d6cff9e;
}

.recenzija-profil-kartica{
    display: flex;
    justify-content: space-between;
    background-color: #161625;
    border-radius: 8px;
    padding: 10px 12px;
    border: 1px solid #70707048;
    flex: 1;
}

.recenzija-profil-kartica-right{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.recenzija-knjiga-ime{
    font-size: 0.7em;
    color: white;
}

.recenzija-knjiga-sadrzaj{
    font-size: 0.7em;
    color: #7672B5;
    /* background-color: red; */
    /* overflow-y: hidden; */
    width: 800px;
    max-height: 50px;
    
}

.recenzija-knjiga-rejting{
    font-size: 0.8em;
    color: #f5b301;
}

.recenzija-knjiga-hiperlink{
    font-size: 0.6em;
    text-decoration: none;
    color: #5F56BC;
}

.recenzije-knjiga-datum{
    font-size: 0.75em;
    color: #48484D;
}

.main-profil-right-content2{
    flex: 1;
    display: none;
    flex-direction: column;
    gap: 6px;
    max-height: 550px;
    overflow: auto;
}

.main-pojedinacna-content{
    height: 100%;
    padding: 0 16px;
    display: flex;
    gap: 16px;

}

.main-pojedinacna-header{
    display: flex;
    padding: 3px 16px;
}

.pojedinacna-hiperlink{
    font-size: 0.75em;
    text-decoration: none;
    color: #695ae9;
}

.main-pojedinacna-left{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    
}

.knjiga-prikaz{
    background-color: #1F1F1F;  
    flex: 0.65;
    padding: 16px 16px;
    color: white;
    border-radius: 8px;
    display: flex;
    gap: 12px;
}

.knjiga-slika{
    width: 100px;
    height: 100%;
    border-radius: 10px;
}

.knjiga-slika img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.knjiga-info{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.knjiga-info-top{
    flex: 1;
    padding: 0px 8px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
    border-bottom: 1px solid #70707048;
}

.knjiga-info-top p{
    margin: 0;
    padding: 0;
    font-size: 1em;
}


.knjiga-info-bottom{
    flex: 1;
    padding: 0 8px;
    display: flex;
    flex-direction: column;
}

.knjiga-atributi{
    height: 30px;
    display: flex;
    flex-direction: row;
    gap: 14px;
}

.atribut-card{
    display: flex;
    flex-direction: column;
    max-width: 250px;
    height: 30px;
}

.atribut-ime{
    font-size: 0.52em;
    margin: 0;
    color: #4f4e4e;

}

.atribut-vrednost{
    font-size: 0.62em;
    margin: 0;
    color: #ABABAB;
   
}


.knjiga-rejting{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.stars{
    color: #f5b301;
    font-size: 0.85em;
    text-align: center;
}

.score{
    font-size: 0.85em;
}

.broj-recenzija{
    font-size: 0.75em;
    color: #4f4e4e;
}

.knjiga-opis{
    background-color: #1F1F1F;
    height: auto;
    padding: 12px 16px;
    color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;

}

.section-header{
    font-size: 0.75em;
    border-bottom: 1px solid #70707048;
    padding-bottom: 6px;
}

.section-header p{
    margin: 0;
    font-weight: 700;
}

.knjiga-opis-content{
    font-size:0.7em;
    flex: 1;
    padding-top: 10px;
}

.knjiga-opis-content p{
    margin: 0;
    font-size: 0.85em;
    color: #ABABAB; 
}

.recenzija{
    background-color: #1F1F1F;
    flex: 0.85;
    padding: 8px 16px;
    color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    
}

.recenzija-forma{
    flex: 1;
    padding: 8px 0;
    display: flex;
    flex-direction: column;
}

form label{
    font-size: 0.7em;
}

form input, textarea{
    width: 100%;
    border-radius: 5px;
    height: 35px;
    background-color: #30302E;
    border-style: none;
    padding: 6px 8px;
    font-size: 0.75em;
    color: #dededc;
    border: 1px solid #70707048;
}

form textarea{
    min-height: 75px;
    resize: none;
}

.recenzija-forma input::placeholder, .recenzija-forma textarea::placeholder{
    color: hsl(60, 1%, 53%);
}

#submit-dugme{
    
    padding: 0;
    height: 30px;
    background-color: #1A1A1A;
    font-size: 0.7em;
    border-color: hsl(0, 0%, 44%);
}

form{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.ostavi-rejting{
    display: flex;
    justify-content: center;
    direction: rtl;
}

.for-rating:before{
    content: "\2606";
    font-size: 20px;
}

.for-rating:hover::before,
.for-rating:hover ~ .for-rating:before{
    content: "\2605";
    color: #f5b301;
    cursor: pointer;    
}

.lista-recenzija{
    background-color: #1F1F1F;
    flex: 1;
    height: 225px;
    padding: 8px 16px;
    color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex: 0 0 auto;
}

.main-pojedinacna-right{
    flex: 1;
    height: 500px;
    padding: 0 16px;
    color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.main-pojedinacna-right p{
    margin: 0;
    padding: 0;
}

.knjiga-info-dodatak{
    border-radius: 8px;
    background-color: #1F1F1F;
    padding: 8px 8px;
}

.knjiga-info-dodatak-card{
    display: flex;
    justify-content: space-between;
    padding: 4px 4px;
}


.slicne-knjige{
    flex: 1;
    border-radius: 8px;
    background-color: #1F1F1F;
    padding: 8px 8px;
    display: flex;
    flex-direction: column;
    
    
}

.slicne-knjige-card{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 6px 0;
    border-bottom: 1px solid #70707048;

}

.slicne-knjige-slika{
    width: 50%;
}

.slicne-knjige-slika img{
    width: 100px;
    
    border-radius: 8px;
}

.slicne-knjige-tekst{
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
    align-items: flex-start;
}


.recenzija-card{
    display: flex;
    flex-direction: row;
    gap: 2px;
    padding: 6px 0;
    border-bottom: 1px solid #70707048;
}

.recenzija-podaci{
    width: 80%;
}

.recenzija-datum{
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.recenzija-datum-tekst{
    font-size: 12px;
}

.recenzija-card p{
    padding: 0;
    margin: 0;
    font-size: 9px;
}

.recenzija-score{
    color: #f5b301;
}

.recenzija-sadrzaj{
    color: #ABABAB;
}

.lista-recenzija::-webkit-scrollbar {
    width: 10px;
}

.lista-recenzija::-webkit-scrollbar-track {
    background: #1f1f1f;
    border-radius: 999px;
}

.lista-recenzija::-webkit-scrollbar-thumb {
    background: #5a4fd649;
    border-radius: 999px;
}

.lista-recenzija::-webkit-scrollbar-thumb:hover {
    background: #7d6cff9e;
}

.hero-section{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    
}

.landing{
    width: 100%;
    background-color:#EEEDFE;
    background-color: rgb(247, 247, 233);
    display: flex;
    flex-direction:row;
}

.landing-text{
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 5px;   
    padding: 25px 20px;

}

.landing-text h2{
    font-size: 1.5em;
    max-width: 300px;
    font-weight: bold;
    color: #26215C;
}

.landing-text p{
    font-size: 0.8em;
    max-width: 350px;
}

.landing-buttons{
    display: flex;
    gap: 8px;
}

.katalog{
    
    background-color: #6153dd;
    color: white;
    border-style: none;
    font-weight: bold;


}

.katalog:hover, .register:hover{
    background-color: #4b4396;
    cursor: pointer;
}

.autori{
    background-color: transparent;
    color: #5f53e2;
    border-color: #AFA9EC;
    border-style: solid;
    text-decoration: none;
}

.autori:hover{
    background-color:rgb(219, 219, 219);
    cursor: pointer;
}

.landing-image{
    flex: 1;
    width: 60%;
    background-image: url(images/knjige-horizontalno.png);
    background-repeat: no-repeat;
    background-position: -50px -25px;
    background-size: cover;
    background-size: 115% 130%;

}
    
.search-filters{
    width: 100%;
    min-height: 65px;
    background-color: #161616;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    padding: 12px 20px;
    border-bottom: 1px solid #70707048;
}

.search-bar{
    width: 70%;
    border-radius: 5px;
    height: 35px;
    background-color: #2f2e2e;
    border-style: none;
    padding: 12px 16px;
    font-size: 0.75em;
    border-radius: 10px;
    color: white;
    border: 1px solid #70707048;
}

.filter-card{
   
    height: 30px;
    padding: 0px 16px;
    border-radius: 999px;   
    font-size: 12px;
    border: 1px solid rgba(255,255,255,0.1);
    background: transparent;
    color: #ccc;
    cursor: pointer;
}

/* #sci-fi{
     overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap; 
} */

.books{
    width: 100%;
    height: 100%;
    /* min-height: 400px; */
    background-color: #121212;
    display: flex;
    flex-direction:column;
    padding: 12px 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    position: relative;
    flex: 1;
    

}

.books-content::-webkit-scrollbar {
    height: 8px;
}

.books-content::-webkit-scrollbar-track {
    background: #1f1f1f;
    border-radius: 999px;
}

.books-content::-webkit-scrollbar-thumb {
    background: #5a4fd649;
    border-radius: 999px;
}

.books-content::-webkit-scrollbar-thumb:hover {
    background: #7d6cff9e;
}

.books-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
    height: 40px;
    color: white;
}

.books-header h6{
    margin: 0;
    font-size: 1em;
}

.books-content a{
    text-decoration: none;
    color: #6153dd;
    position: absolute;
    top: 25px;
    left: 100%;
    font-size: 0.85em;
    width: 100px;
    
}

.books-content{
    flex: 1;
    height: 100%;
    display: flex;
    padding: 12px 0px;
    gap: 16px;
    overflow: auto;
}

.book-card{
    display: flex;
    flex-direction: column;
    width: 150px;
    font-size: 12px;
    flex: 0 0 auto;
}



.animate{
    animation: backgroundColor 1.5s ease;
}

.book-card img:hover{
    animation: zoomAndGlow 1.25s ease forwards;

}

.book-cover{
    width: 150px;
    height: 225px;
    position: relative;
}

.book-cover img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 20px;
    z-index: 10; 
}

.book-cover a{
    position: relative;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%; 
    color: white;
}

.book-card-naslov{
    margin: 0;
    z-index: 100;
    color: white;
    position: absolute;
    top: 90%;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.729);
    border-radius: 6px;
    padding: 0px 2px;
    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;   
}


.book-desc{
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    text-align: center;
    
}

.book-desc p{
    margin: 0;
}

.book-author{
    color: white;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;    
}

.book-recom{
    color: #6153DD;
}

.book-genre{
    height: 30px;
    padding: 0 16px;
    border-radius: 999px;   
    font-size: 12px;
    border: 1px solid rgba(40, 223, 46, 0.1);
    cursor: default !important;
}

.button-pojedinacna-info{
    height: 35px;
}

.roman{
    background: #3b1f2b;
    color: #f472b6;
}

.klasik{
    background: #1b3a3a;
    color: #2dd4bf;
}

.distopija{
    background: #1e293b;
    color: #60a5fa;
}

.fantazija{
    background: #3b1f1f;
    color: #f87171;
}

.sci-fi{
    background: #3a321a;
    color: #facc15;
}

.triler{
    background: #2a1a2f;
    color: #c084fc;
}

.novela{
    color: #C89B6D;
    background-color: #2F241A;
}

.bajka{
    color: #ff01ff;
    background-color: #3A1F2F;
}

.nauka{
    background: #102c3c;
    color: #22d3ee;
}

.biografija{
    background: #2f2f2f;
    color: #e5e7eb;
}

.biznis{
    background: #3a1414;
    color: #f87171;
}

.filozofija{
    background: #33291b;
    color: #eab308;
}

.istorija{
    background: #3a2315;
    color: #fb923c;
}

.tehnologija{
    background: #0f172a;
    color: #a78bfa;
}

.psihologija{
    background: #1f2a44;
    color: #93c5fd;
}

.knjizevnost{
    background: #3a1818;
    color: #fca5a5;
}

.poezija{
    background: #2e1637;
    color: #f0abfc;
}

.naucna-fantastika{
    background: #20153a;
    color: #818cf8;
}

.main-knjige-admin{
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    padding-bottom: 8px;
    padding-top: 0;
    gap: 4px;

}

.main-knjige-admin-top{
    color: white;
  
    display: flex;
    flex-direction: column;
}

.admin-panel{
    display: flex;
    justify-content: space-between;
    background-color: #211C3F;
    font-size: 0.8em;
    font-weight: 700;
    padding: 8px 16px;
    border-bottom: 0.5px solid rgba(137, 43, 226, 0.559);
}

.role{
    height: 20px;
    padding: 0 16px;
    border-radius: 999px;   
    font-size: 12px;
    border: 1px solid rgba(40, 223, 46, 0.1);
    cursor: default !important;
    background-color: #2A2350;
    color: #A78BFA;
}

.pretraga-knjiga{
    padding: 12px 12px;
    /* background-color: red; */
    display: flex;
    gap: 8px;
    border-bottom: 1px solid #70707048;
}

.pretraga-knjiga button{
    height: 35px;
    width: 100px;
    padding: 2px 4px;
    font-size: 0.65em;
    border-radius: 5px;
    border: 1px solid hsla(0, 0%, 76%, 0.858);
}


.pretraga-knjiga input{
    flex: 1;
}

.main-knjige-admin-bottom{
    color: white;
    flex: 1;
    display: flex;
    min-height: 0;
    /* overflow: hidden; */
    gap: 8px;
}

.tabela-knjiga{
    width: 75%;
    display: flex;
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    overflow-x: auto;
    flex-direction: column;
    gap: 8px;
    padding: 0px 16px;
    padding-bottom: 30px;
    /* background-color: red; */
    /* flex: 0 0 auto; */
    /* border: 1px solid #70707048; */
    
}

.tabela-knjiga::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.tabela-knjiga::-webkit-scrollbar-track {
    background: #1f1f1f;
    border-radius: 999px;
}

.tabela-knjiga::-webkit-scrollbar-thumb {
    background: #5a4fd649;
    border-radius: 999px;
}

.tabela-knjiga::-webkit-scrollbar-thumb:hover {
    background: #7d6cff9e;
}

.tabela-header{
    padding: 6px 6px;
    font-size: 0.8em;
    display: flex;
    gap: 8px;
    border-bottom: 1px solid #70707048;
    background-color: #1A1A1A;
    position:sticky;
    top: 0;
    z-index: 5;
    min-width: 1100px;
}

.tabela-row div, .tabela-header div{
    display: flex;
    align-items: center;
    font-size: 0.85em;
    gap: 6px;
    flex-shrink: 0;
    white-space: nowrap;

}

.tabela-row:hover{
    background-color: rgb(28, 28, 28);
    cursor: pointer;
}

.tabela-row{
    padding: 6px 6px;
    font-size: 0.8em;
    display: flex;
    gap: 8px;
    border-bottom: 1px solid #70707048;
    min-width: 1100px;


}

.tabela-knjiga-slika{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


.tr-1{
    width: 14%;
    max-width: 150px; 
}

.tr-1 p, .tr-2 p{
    max-width: 70%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    /* background-color: red; */
}

.tr-8{
    display: flex;
    justify-content: space-around;
    flex: 1;
    margin-left: 10px;
}

.tr-2, .tr-3, .tr-4, .tr-5, .tr-6, .tr-7, .tr-8{
    width: 11%;
    
}

.tr-4{
    display: flex;
    
}

.tr-5 p{
    font-size: 1em;
}

.button-tabela{
    height: 25px;
}

.stars-tabela{
    font-size: 15px;
}

.tabela-rejting{
    font-size: 15px;
}

.action-buttons{
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
    color: white;
    display: flex;
    align-items: center;
}

admin-knjige-resetadmin-forma{
    padding: 6px 16px;
    padding-top: 0;
    /* background-color: orange; */
    width: 100%;
    display: flex;
    flex-direction: column;
}

.section-header-knjige-admin{
    display: flex;
    justify-content: center;
    font-size: 0.70em;
    padding: 6px;
    font-weight: 700;
}

.forma-placeholder{
    /* background-color: red; */
    flex: 1;
    display: flex;
    
}

.knjige-admin-forma form{
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    
}

.knjige-admin-forma form input, .knjige-admin-forma form select{
    height: 25px;
    background-color: #30302E;
    font-size: 0.75em;
}

.knjige-admin-forma form select{
    border-radius: 5px;
    background-color: #30302E;
    border: 1px solid #70707048;
    color: #D6D5D1;
}

.knjige-admin-forma form select option{
    color: #D6D5D1;
} 

.knjige-admin-forma form input::placeholder{
    color: #D6D5D1;
}

.knjige-admin-forma form textarea::placeholder{
    color: #D6D5D1;
}

.knjige-admin-forma form textarea::-webkit-scrollbar {
    width: 10px;
}

.knjige-admin-forma form textarea::-webkit-scrollbar-track {
    background: #1f1f1f;
    border-radius: 999px;
}

.knjige-admin-forma form textarea::-webkit-scrollbar-thumb {
    background: #5a4fd649;
    border-radius: 999px;
}

.knjige-admin-forma form textarea::-webkit-scrollbar-thumb:hover {
    background: #7d6cff9e;
    cursor: pointer;
}

.forma-naziv-autor{
    display: flex;
    gap: 6px;
}

.forma-datum-zanr{
    display: flex;
    gap: 6px;

}

.forma-datum, .forma-zanr{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.knjige-admin-forma form label{
    font-size: 0.6em;
    color: #555555;
}

.forma-naziv, .forma-autor{
    display: flex;
    flex-direction:column;
    width: 50%;
    gap: 3px;
}

.forma-actions{
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 6px;
}

.forma-actions input{
    padding: 4px;
}

.admin-knjige-submit{
    width: 40%;
    background-color: #55489f !important;
}

.admin-knjige-reset{
    width: 20%;
}

.admin-knjige-reset:hover{
    background-color: #3f3f3c;
}

.admin-knjige-submit:hover{
    background-color: rgb(71, 59, 141) !important;
}

#slika{
    padding: 0;
}

#slika::file-selector-button{
    background-color: #55489f;
    color: white;
    border: none;
    height: 100%;
}

#slika::file-selector-button:hover{
    background-color: rgb(71, 59, 141);
    cursor: pointer;
}

#datum::-webkit-calendar-picker-indicator{
    filter: invert(1);
}



footer{
    width: 100%;
    min-height: 60px;
    background-color: #161616;
    display: flex;
    justify-content: space-between;
}

.footer-profil{
    padding: 4px 20px;
    display: flex;
    gap: 12px;
    margin-top: 12px;
}

.footer-card-profil{
    color: white;
    font-size: 0.75em;
    border-radius: 8px;
    border: 1px solid #5442e08e;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    flex: 1;

}

.footer-card-profil-stat{
    color: rgb(122, 122, 122);
}

.footer-card-profil-value{
    font-size: 1.5em;
}


.footer-card-profil-dodatak{
    color: rgb(174, 174, 174);
    font-size: 0.75em;

}

.footer-card{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: solid 1px #6153dd5d;
    gap: 3px;
}

.footer-card p{
    margin: 0;
}

.footer-stat{
    color: #6153dd;
    font-size: 1em;
    font-weight: 700;
}

.footer-value{
    color: white;
    font-size: 0.75em;
}

.login-main{
    display: flex;
    /* background-color: red; */
    flex: 1;
}

.login-main-left{
    display: flex;
    flex: 5;
    padding: 8px;
    padding-right: 8px;
    padding-left: 8px;
    background-color: #1A1A2E;
}

.login-main-right{
    display: flex;
    flex: 11;
    /* border-left: 1px solid hsla(0, 0%, 100%, 0.523); */
    /* background-color: yellow; */
    color: white;
    flex-direction: column;
    gap: 8px;
    position: relative; 
}

.login-slika{
    background-image: url(images/login-slika3.avif);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    width: 100%;
    height: 100%;
    filter: blur(2px);
}

.login-tekst{
    display: flex;
    flex-direction: column;
    gap: 6px;
    flex: 1;
    z-index: 100;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-tekst h1{
    white-space: nowrap;
}


.login-container{
    /* background-color: #4B4396; */
    border: 1px solid #4B4396;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    flex: 1;
    padding: 24px;
    border-radius: 20px;
    gap: 12px;
    background-color: #121212;
}

.login-container h3{
    color: white;
}

.login-container-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.login-hiperlink{
    text-decoration: none;
    color: #4B4396;
}

.registracija-prijava{
    display: flex;
    gap: 8px;
}

.registracija-prijava h3:hover{
    cursor: pointer;
}

.registracija-prijava p{
    color: white;
    font-size: 1.25em;
}

#sign-up-forma, #login-forma{
    flex: 1;
    display: flex;
    gap: 16px;
    align-items: stretch;
    justify-content: center;
}

#login-forma{
    display: none;
}

#sign-up-forma input, #login-forma input{
    /* margin-bottom: 12px; */
    /* background-color: #4B4396; */
    border-radius: 12px;
}

#datum-rodjenja::placeholder{
    background-color: red;
    color: red;
}

#sign-up-forma label, #login-forma label{
    color: white;
}

#sign-up-forma input::placeholder, #login-forma input::placeholder{
    color: rgba(255, 255, 255, 0.601);
}

.sign-up-form-buttons{
    display: flex;
    gap: 15px;
}

.sign-up-submit{
    background-color: #4B4396;
    margin: 0px !important;  
}

.knjiga-slika::empty{
    display: none;
}

/* .login-reset{
    background-color: rgb(155, 14, 14);
    margin: 0px !important;
} */

@keyframes backgroundColor{
    50% { background-color: #796cf058;}
    50% { background-color: #372a8a72;} 
}

@keyframes zoomAndGlow{
    50%{transform:scale(103%); box-shadow: 0px 0px 40px white;}
    100%{transform:scale(103%); box-shadow: 0px 0px 40px white;}
}


.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 4px;
}

.hamburger span {
    display: block;
    width: 24px;
    height: 2px;
    background-color: #ccc;
    border-radius: 2px;
}

.nav-buttons {
    display: none;
    }

.aktivnost-komentari{
    background-color: transparent;
    color: #695ae9;
    border: none;
    display: none;
    width: 100px;
    font-size: 0.75em;
}

.hamburger-odjava {
    display: none;
}

@media (max-width: 850px) {

    .hamburger {
        display: flex;
    }

    .header-center {
        display: none;
        width: 100%;
        order: 4;
        background-color: #121212;
        /* position: relative;
        z-index: 999; */
    }

    .header-center.open {
        display: block;
    }

    .header-center ul {
        display: flex;
        flex-direction: column;
        gap: 0;
        padding: 8px 0;
        border-top: 1px solid #70707048;
    }


    .header-center ul li {
        display: block;
        margin-left: 0;
        font-size: 1em;
        padding: 10px 4px;
        border-bottom: 1px solid #70707048;
    }

    .header-center ul li:last-child {
        border-bottom: none;
    }

    .nav-buttons {
        display: flex !important;
        flex-direction: row !important;
        gap: 8px;
        padding: 12px 4px;
        border-bottom: none !important;
    }

    .nav-buttons .button {
        flex: 1;
        height: 36px;
        font-size: 0.8em;
    }

    .header-right {
        display: none;
    }

    header {
        flex-wrap: wrap;
        padding: 12px 16px;
        position: sticky;
        top: 0;
        z-index: 1000;
        background-color: #121212;
    }

    .header-left {
        flex: 1;
    }

    .landing{
        justify-content: center;    
    }

    .landing-image{
        /* display: none; */
        width: 45%;
        background-position: -25px 0px;
        background-size: 280% 115%;
        /* background-color: red; */
    }

    .landing-text{
        width: 55%;
        justify-content: center;

    }

    .button.katalog, .button.autori{
        font-size: .5em;
    }

    .button.katalog, .button.autori{
        font-size: 0
    }

    .button.katalog::after{
        content: "Књиге";
        font-size: 10px;
    }

    .button.autori::after{
        content: "Аутори";
        font-size: 10px;
    }

    .search-filters{
        flex-wrap: wrap;
        gap: 10px;
    }

    .search-bar{
        width: 100%;
    }

    .filter-card{
        width: 17%;
        font-size: 0.65em;
        padding: 5px 3px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: wrap;
    }
    
    .books-content{
        /* background-color: red; */
        padding: 0px;
    }


    .book-card img:hover{
        animation:none;
    }

    .books-header h6{
        font-size: 1.25em;
    }

    .main-pojedinacna-right{
        display: none;
    }

    .main-pojedinacna-left{
        width: 100%;
    }

    .knjiga-rejting{
        padding-top: 10px;
        
    }

    .main-profil-bottom{
        /* flex-shrink: 0; */
        white-space: nowrap;
        overflow-x: auto;
    }

    .main-profil-left{
        display: none;
    }

    .main-profil-right{
        flex: 1;
        padding: 0;
    }

    .footer-profil{
        display: none;
    }

    .recenzija-knjiga-sadrzaj{
        max-width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
    .main-profil-bottom{
        padding-left: 0px;
        height: 100%;
    }

    .profil-statistika{
        display: none;
    }

    .profil-ime{
        font-size: 0.8em;
    }

    .profil-email{
        font-size: 0.75em;
        /* background-color: red; */
    }

    .profil-info img{
        width: 60px;
        height: 60px;
    }

    .aktivnost-komentari{
        display: block;
        
    }

    .login-main-right{
        display: none;
    }

    .login-main-left{
        flex: 1;
    }
    
}

@media (max-width: 1024px){
    .recenzija-knjiga-sadrzaj{
        max-width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .main-profil-left{
        display: none;
    }

    .main-profil-bottom{
        padding: 0;
    }

    .profil-statistika{
        gap: 6px;
    }

    .statistika-vrednost{
        font-size: 0.75em;
    }

    .statistika-ime{
        font-size: 0.5em;
    }

    .aktivnost-komentari{
        display: block;
    }

    .atribut-vrednost{
        font-size: 0.55em;
    }

    .atribut-ime{
        font-size: 0.45em;
    }

    .broj-recenzija{
        font-size: 0.68em
    }

    .slicne-knjige-slika{
        width: 60%;
    }

    .slicne-knjige-tekst{
        width: 40%;
    }

    .login-main-right{
        flex: 1;
    }

    .login-main-left{
        flex: 1;
    }

    .login-tekst h1{
        font-size: 1.5em;
    }

    .login-tekst p{
        font-size: 1em;
    }
   
}