*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Merriweather", sans-serif;
}

.wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    /*padding: 0 8px;*/ 
    background-color: #121212;
    
}

body{
    overflow-y: auto;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 15px;
    padding: 16px 20px;
    background-color: #121212;
    position: sticky;
    top: 0;

   
}

header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header ul li{
    display: inline-block;
    margin-left: 16px;
    font-size: 0.8em;
    
}

header a{
    text-decoration: none;
    color: #949494;

}

.header-left{
    display: flex;
    align-items: center;
    
}

.folio{
    font-weight: bold;
    color: #695ae9;
}

.header-center{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.header-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.button{
    height: 28px;
    font-size: 0.7em;
    padding: 6px 16px;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    background-color: #121212;
    color: #AFA9EC;
    border-color: rgba(214, 214, 214, 0.222);
    border-style:solid;
}

.register{
    background-color: #6153dd;
    color: white;
    border-style: none;
}

main{
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    
}

.hero-section{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    
}

.landing{
    width: 100%;
    background-color:#EEEDFE;
    display: flex;
    flex-direction:row;
}

.landing-text{
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 5px;   
    padding: 25px 20px;

}

.landing-text h2{
    font-size: 1.5em;
    max-width: 300px;
    font-weight: bold;
    color: #26215C;
}

.landing-text p{
    font-size: 0.8em;
    max-width: 350px;
}

.landing-buttons{
    display: flex;
    gap: 8px;
}

.katalog{
    width: 125px;
    background-color: #6153dd;
    color: white;
    border-style: none;
}

.autori{
    width: 125px;
    background-color: #EEEDFE;
    color: #857af8;
    border-color: #AFA9EC;
    border-style: solid;
}

.landing-image{
    flex: 1;
    width: 60%;
    background-image: url(images/knjige-horizontalno.png);
    background-repeat: no-repeat;
    background-position: -50px -25px;
    background-size: cover;
    background-size: 115% 130%;

}


    
.search-filters{
    width: 100%;
    min-height: 65px;
    background-color: #161616;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    border-bottom: 1px solid #70707048;
}

.search-bar{
    width: 70%;
    border-radius: 5px;
    height: 35px;
    background-color: #2f2e2e;
    border-style: none;
    padding: 12px 20px;
    font-size: 0.75em;
    
    
}

.filter-card{
   
    height: 30px;
    padding: 0 16px;
    border-radius: 999px;   
    font-size: 12px;
    border: 1px solid rgba(255,255,255,0.1);
    background: transparent;
    color: #ccc;
    cursor: pointer;

}

.books{
    width: 100%;
    min-height: 400px;
    background-color: #121212;
    display: flex;
    flex-direction:column;
    padding: 12px 20px;
}

.books-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
    height: 40px;
    color: white;
}

.books-header h6{
    margin: 0;
}

.books-header a{
    text-decoration: none;
    color: #6153dd;
}

.books-content{
    flex: 1;
    display: flex;
    padding: 12px 0px;
    gap: 16px;

    
}

.book-card{
    display: flex;
    flex-direction: column;
    width: 150px;
    font-size: 12px;
}

.book-card img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 20px;
    z-index: 0;
}

.book-cover{
    height: 225px;
    display: flex;
    position: relative;
}

.book-cover p{
    margin: 0;
    z-index: 100;
    color: white;
    position: absolute;
    top: 90%;
    left: 10px;
}

.book-desc{
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    text-align: center;
}

.book-desc p{
    margin: 0;
}

.book-author{
    color: white;
}

.book-recom{
    color: #6153DD;
}

.book-genre{
    height: 30px;
    padding: 0 16px;
    border-radius: 999px;   
    font-size: 12px;
    border: 1px solid rgba(40, 223, 46, 0.1);
    cursor: pointer;
}

.roman{
    background: #3b1f2b;
    color: #f472b6;
}

.klasik{
    background: #1b3a3a;
    color: #2dd4bf;
}

.distopija{
    background: #1e293b;
    color: #60a5fa;
}

.fantazija{
    background: #3b1f1f;
    color: #f87171;
}

footer{
    width: 100%;
    min-height: 60px;
    background-color: #161616;
    display: flex;
    justify-content: space-between;
    
}

.footer-card{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: solid 1px #6153dd5d;
    gap: 3px;
}

.footer-card p{
    margin: 0;
}

.footer-stat{
    color: #6153dd;
    font-size: 1em;
    font-weight: 700;
}

.footer-value{
    color: white;
    font-size: 0.75em;
}